@font-face {
  font-family: "Quicksand";
  src: url(/src/assets/Quicksand-Regular.otf);
  font-family: "Seas";
  src: url(/src/assets/SEASRN__.ttf);
}

:root {
  font-family: "Quicksand", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
.container{
  max-width: 1280px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.wrapper{
  background-color: #133A4E;
}

.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover{
  color:#ff5151;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #ff5151, #550f0f);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 3;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(-135deg, #ff5151, #7e2a2a);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}

body {
  margin: 0;
}

h1 {
display: inline-block;
}

button:hover {
  border-color: #ff5151;
}

.oval-image {
  max-width: 500px; 
  height: 400px;
  overflow: hidden; 
  border-radius: 50%; 
  position: relative;
}

.oval-image img {
  width: 100%; /* Make the image cover the entire oval container */
  height: auto;
  display: block;
}
header{
  width: calc(100% - 20px);
}
.banner{
  margin: 0%;
  width: calc(50% - 150px);
  display: flex;
  opacity: 0.8;

}
.banner img{
  width: 100%; 
  height: auto;
  position: relative;
}
input{
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 5%;
}
.heyyouseeso{
  width:fit-content;
  border-radius: 2px 200px 2px 200px;
  width: 100%;
  padding-bottom: 20px;
  background-color:#133A4E; 
  color: #ffffff; 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main{
  margin: 0;
  padding: 0; 
}
.om-tekst{
  width:fit-content;
  width: 100%;
  padding-bottom: 20px;
  background-color:#133A4E; 
  color: #ffffff; 
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.tekst{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 24px;
}
.gallery-item {
  margin: 10px;
  position: relative;
  max-width: 300px; 
  flex:1;
  text-align: center;
}

/* Style for the image */
.gallery-item img {
  max-width: 300px; 
  height: auto;
  transition: transform 0.3s ease;
}

/* Style for the text (hidden by default) */
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #133A4E;
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover effect to show text */
.gallery-item:hover .image-text {
  opacity: 1;
}

aside{
flex-wrap: wrap;
}
.posts h2{
  font-size: 30px;
}
.posts{
  width: calc(100% - 200px);
  justify-content: space-between;
 text-align: center;
  flex-wrap:nowrap;
  padding:10px;
  border: 2px solid black;
  margin: 5%;
}
.posts img{
  max-width: 120px;
}

.kunst-item {
  background-color: #133A4E;
  color: #f9f9f9;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
  padding-bottom: 2%;
  border-radius: 2px 50px 2px 50px;
  text-align: center;

}
/* Style the portfolio items container */
.portfolio-container {
  display: flex;

}

/* Style the portfolio items */
.portfolio-item {
  background: #133A4E;
  border: 2px solid rgb(192, 192, 192);
  width: 100%; /* Adjust max-width to fit two items in a row */

  padding: 20px; /* Adjust padding */
  text-align: center;
}
.slider-container button{
  position:relative;
  z-index: 1;
  left: 70px;
  /* left: 20px; */
  top: 80px;
  height: 150px;
  width: 150px;
  text-align: center;
  line-height: 50px;
  border-radius: 80%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: #2b2a2a;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(170, 138, 138, 0.2), 0 6px 20px 0 rgba(112, 41, 41, 0.19);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */

}
h2 {
  text-align: center;
  font-size: 40px;
}

.portfolio-item h3 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "Seas" sans-serif;

  margin: 0%;

}

.portfolio-item p {
  color: rgb(255, 255, 255);
  padding-left: 5%;
  padding-right: 5%;
}

.portfolio-item a {
  color: rgb(255, 210, 210);
  text-decoration: none;
  padding: 20px;
  font-size: 38px;
  flex-wrap: nowrap;
  justify-content: center;
}
/* Style the rounded images */
.rounded-image {
justify-content: center;
flex-wrap: nowrap;
width: calc(60% - 20px);
margin-bottom: 5%;


}
.rounded-image img{
  width: fit-content;
  height: 200px;

  
}
img{
  z-index: 1;
}
/* Footer.css */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#133A4E;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
}

.social {
  margin-top: 2px;
  flex-wrap: wrap;
}
.social a{
  text-decoration: none;
  color: #ffffff;
  justify-content: center;
}

.social a:hover{
  color: #ff5151;
}

.icon {
  font-size: 30px;
  flex-wrap: wrap;
  margin-right: 5px;
  color: white;
  text-decoration: none;
}

/* Style icons on hover */
.icon:hover {
  color: #ff5151; /* Change to your desired hover color */
}


/* Responsive styles */
@media screen and (max-width: 1248px) {
  .gallery-item {
      width: calc(50% - 200px);
  }
  .banner{
    width: 450px;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .gallery-item {
      width: calc(50% - 40px);
  }
  .gallery {

    margin-left:0%;
    margin-top: 0%;
  }

  a {
    font-size: 20px;
  }
  .banner{
    width: 300px;
    position: relative;
  }
  .portfolio-container{
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    
  }
}

@media screen and (max-width: 480px) {
  #root{
    margin: 1%;
  }
  .slider-container button{
    left: 20px;
    /* left: 20px; */}
  .gallery-item {
      width: 300px;
  }
  .rounded-image{
    margin: 0%;
  }
  h2{
    font-size: 24px;
  }
  p{
    font-size: 18px;
  }
  .portfolio-item{
  max-width: 100%; /* Adjust max-width to fit two items in a row */
  padding: 20px; /* Adjust padding */
  border-radius: 2px 100px 2px 100px;}

  .footer-container {
    margin: 0;
  }
  .banner{
    margin: 0%;
    width:fit-content;
    justify-content:center;
    opacity: 0.90;
  }
  .banner img {
    width: 200px;
  }
  .portfolio-item p{
    font-size: 14px;
  }
  .portfolio-item a {
    font-size: 18px;
  }
  .portfolio-item h3 {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff7474;
  }

}
